<div class="row">
 <div class="col-xs-9 page-body">
 	 <h2><strong>Staff Picks:</strong><p class="staff-change"> </p></h2>
 	 <div class="staff-pick-project"></div>
 </div>
 
	<div class="col-xs-3">
		<div class="sidebar pull-left" role="complementary">
			<ul class="nav sidenav">
				<% for (var key in gon.categories) { %>
					<% if (gon.categories.hasOwnProperty(key)) { %>
					<li>
						<a href="#" class="sp-category" data-cat="<%= key %>"><%= gon.categories[key] %></a>
					</li>
					<% } %>
				<% } %>
			</ul>
		</div>
	</div>
</div>