<div class="row">
 <div class="col-xs-9 page-body">
 	 <h3><strong>Staff Picks:</strong><span class="staff-change greenify"> </span></h3>
 	 <div class="staff-pick-project"></div>
 </div>
 
	<div class="col-xs-3">
		<div class="sidebar pull-left" role="complementary">
			<ul class="nav sidenav">
				<% for (var key in gon.categories) { %>
					<% if (gon.categories.hasOwnProperty(key)) { %>
					<li>
						<a href="#" class="sp-category" data-cat="<%= key %>"><span data-title="<%= gon.categories[key] %>">
							<%= gon.categories[key] %>
						</span></a>
					</li>
					<% } %>
				<% } %>
			</ul>
		</div>
	</div>
</div>