<div class="grey-field">
	<h1>It's not just a project, it's a story.</h1>
	<p>Tell us about yourself. It doesn't have to be fancy, it just has to be you.</p>
</div>

<div class="row">
	<div class="col-xs-1"></div>

	<div class="col-xs-7">
		<form>
			<div class="form-group">
				
			<ol class="project-fields row">
		
				<li class="project-description">
					<div class="grey-field row">
						<div class="project-label col-xs-2">
							<label>Project description</label>
						</div>
						<div class="project-input">
							<p class="field-note">Use your project description to share more about what you’re raising funds to do and how you plan to pull it off. It’s up to you to make the case for your project.</p>
							<textarea class="form-control" name="project_body[description]" rows=	"20"></textarea>
						</div>
					</div>
				</li>
	
				<li class="project-challenges">
					<div class="grey-field row">
						<div class="project-label col-xs-2">
							<label>Risks and Challenges</label>
						</div>
						<div class="project-input">
							<p class="field-note"><strong>What are the risks and challenges that come with completing your project, and how are you qualified to overcome them?</strong></p>

							<p class="field-note">When it comes to fulfillment, every project has potential obstacles, from production delays to permits to collaborator mishaps. What unique challenges might you face after your project is successfully funded? And if setbacks do arise (we hope they don’t, but it happens!), how will you tackle them?</p>

							<p class="field-note">Addressing this from the start helps build a supportive community. Backers will understand your project is a work in progress and feel confident that you’ll work hard to follow through, even when faced with challenges.</p>
							<textarea class="form-control" name="project_body[challenges]" rows=	"8"></textarea>
						</div>
					</div>
				</li>
	
				<li class="project-faq">
					<div class="grey-field row">
						<div class="project-label col-xs-2">
							<label>FAQ</label>
						</div>
						<div class="project-input">
							<textarea class="form-control" name="project_body[faq]" rows=	"5"></textarea>
						</div>
					</div>
				</li>
			</ol>

			<input type="submit" value="Continue" class="btn btn-primary">
			</div>
		</form>
	</div>
	
	<div class="new-project-sidebar col-xs-3">
		<p class="field-note"><strong>Important reminder</strong></p>

		<p class="field-note">Don't use music, images, video, or other content that you don't have the rights to. Reusing copyrighted material is almost always against the law and can lead to <strong>expensive lawsuits</strong> down the road. The easiest way to avoid copyright troubles is to create all the content yourself or use content that is free for public use.</p>

		<p class="field-note">For legal, mostly free alternatives, check out some of these great resources: 
			<a href="https://soundcloud.com/">SoundCloud</a>, 
			<a href="http://vimeo.com/musicstore">Vimeo Music Store</a>, 
			<a href="http://freemusicarchive.org/">Free Music Archive</a>, and 
			<a href="http://ccmixter.org/">ccMixter</a>.</p>
		
	</div>
</div>