<div class="grey-field">
	<h1>Meet your new project.</h1>
	<p>Start by giving it a name, a pic, and other important details.</p>
</div>

<%= render "api/projects/form", 
		:project => @project,
		:verb => "POST",
		:submit_btn_value => "Let's get started!"
%>