<div class="row">
	<div class="col-xs-1"></div>
		<div class="container">
			<div class="page-header">
				<h3>Discover Projects</h3>
				<h4>Passion, ideas, and ambition abound. Start exploring!</h4>
			</div>
	<div class="col-xs-9">
		<div class="discover-body">
			<div class="discover-categories-body">
				<h4>Click on a Category on the right to see posted projects!</h4>
			</div>
		</div>
	</div>
	
	<div class="col-xs-2 sidebar">
		<h4 class="category-list">Categories</h4>
		<ol class="category-list">
			<% for (var key in gon.categories) { %>
			<%	 if (gon.categories.hasOwnProperty(key)) { %>
				<li>
				<a class="category" href="#" data-name="<%= key %>">
						<%= gon.categories[key] %>
				</a>
				</li>
			<% }} %>
		</ol>
	</div>
	</div>
</div>

<ol class="page-views"></ol>