div.footer {
	background-color: black;
	border-style: dashed none none none;
	border-width: 1px;
	border-color: lime;
  left:0px;
  bottom:0px;
  height:220px;
  width:100%;
}

.footer-list-title {
	margin: 30px 90px 0px 90px;
	font-weight: bold;
	color: white;
}

.footer-list {
	margin: 0px 90px;
	padding-left: 0;
	list-style-type: none;
}

.footer-list li{
	line-height: 20	px;
}

.category-double li{
  line-height:1.5em;
	padding: 0px 0px 0px 10px;
  float:left;
  display:inline;
	width: 50%;
}
