.page-views {
	list-style-type: none;
  padding-top: 20px;
	padding-left: 150px;

	.li {
		padding-bottom: 20px;
		text-align: top;		
	}
}

.sidenav li a{
	display:inline;
	padding-left: -15px;
}

.sidebar {
	padding-left: 10px;
	border-left: 2px solid lightgray;
	border-width: thin;
}