$primary-color: #EEF2EA;

.page-views {
	list-style-type: none;
	padding: 20px 0 40px 0px;

	.page-view {
		padding: 20px 20px 30px 100px;
		margin-bottom: 30px;
	}
	
	.page-view:nth-child(2n) {
		border: solid 1px lightgray;
		background-color: $primary-color;
	}
}

.staff-picks {
	.staff-change {
		padding-left: 10px;
		font-weight: bold;
		font-style: italic;
	}
	
	.mid-picture img {
		max-width: 100%;
		height: 300px;
	}
	
	.front-staff-view-body {
		float: left;
		padding-left: 90px;
		width: 400px;
		
		p {
			font-size: 16px;
		}
	
		.project-stats {
			position-bottom: relative;
		
			span {
				font-weight: normal;
			}
		}
	}
	
	.sidebar {
		padding-top: 60px;
		padding-left: 10px;
		border-left: 2px solid lightgray;
		border-width: thin;

		.sidenav li a{
			display:inline;
			padding-left: -15px;
		}
	}
}

.mini-views-field {
	margin-top: 5px;
	padding: 10px 0;
	
	.mini-project-view {
		height: 490px;
		width: 250px;
		margin: 5px 5px;
		border-radius: 10px;
		border: solid 5px lightgray;
		background-color: white;
		padding: 20px;
	}
	
	.mini-project-view:hover, .mini-project-view:focus{
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-transform: scale(1.05);
	  -moz-transform: scale(1.05);
	  -o-transform: scale(1.05);
	  position:relative;
	  z-index:5;
	}
}