$primary-color: #EEF2EA;

.page-views {
	list-style-type: none;
	padding: 20px 0 40px 100px;

	.page-view {
		margin-bottom: 70px;
	}
}

.sidenav li a{
	display:inline;
	padding-left: -15px;
}

.sidebar {
	padding-top: 60px;
	padding-left: 10px;
	border-left: 2px solid lightgray;
	border-width: thin;
}

.front-staff-view-body {
	padding-left: 90px;
	width: 400px;
	p {
		font-size: 16px;
	}
	
	.project-stats {
		position-bottom: relative;
		
		span {
			font-weight: normal;
		}
	}
}

.mini-views-field {
	margin-top: 5px;
	padding: 10px 0;
	
	.mini-project-view {
		height: 450px;
		width: 250px;
		margin: 0px 5px;
		border-radius: 10px;
		border: solid 5px lightgray;
		background-color: $primary-color;
		padding: 20px;
	}
}