.navbar-header {
		float: left;
}

.navbar-header img {
    width: 150px;
    height: 50px;
    margin: -15px 0 0 -10px;
		float: left;
}

ul.primary-links {
	padding: 0px 25px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: lightgray;
}

li.me-drop-down {
	font-weight: bold;
	margin-right: -70px;
	padding: 0px 25px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: lightgray;
}

ul.primary-links li a{
	font-weight: bold;
}

ul.user-links li a{
	color:#000;
}

.my-stuff-links, .account-links, .project-links {
	float: left;
	font-weight: normal;
	list-style-type: none;
	padding: 3px;
	padding-left: 0px;
	margin-right: 20px;
	
	li {
		line-height: 20	px;
		padding: 3px;
		margin: 3px;
	}
}

.dropdown-menu {
	width: 400px;
}

div.logout-btn {
	text-align: center;
	background-color: lightgray;
}