.new-page {
	padding: 40px 180px;
	background-color: #ECECE3;
}
div.log-in {
	padding: 15px 30px;
}
div.sign-up {
	padding: 15px 60px;
}

.brighten-background {
	background-color: white;
	padding: 10px;
}

.demo-btn {
	margin: 0;
	padding: 50px 100px;
	background-color: orange;
	border: 2px solid black;
	
	p {
		color: white;
		font-weight: bold;
		font-size: 30px;
	}
}