.new-page {
	padding: 40px 180px;
	background-color: #ECECE3;
}
div.log-in {
	padding: 15px 30px;
}
div.sign-up {
	padding: 15px 60px;
}

.brighten-background {
	background-color: white;
	padding: 10px;
}