$primary-color: #EEF2EA;

.project-fields {
	list-style-type: none;
	padding-left: 0;
}

.grey-field {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background-color: $primary-color;
	border-radius: 10px;
	padding: 35px;
	margin-bottom: 15px;

	.project-label {
		width:25%;
		text-align: left;
		top:0px;
		left:0px;
		position:relative;
	}
	
	.project-input {
		width:75%;
		float: right;
		padding-right: 10px;
		text-align: left;
		left: 5%;
		top: 0px;
		position: relative;
	}
}

/*.new-project-duration {
	width: 50%;
}*/

.new-project-sidebar {
	margin-left: 15px;
	border-left: dotted 1px lightgray;
	height: 100%;

	.preview-container {
		height: 300px;
		margin-top: auto;
		margin-bottom: auto;
		background-color: $primary-color;
		border-radius: 10px;
		padding: 5px;
	
		.preview-box {
			height: 100%;
			background-color: white;
			border-radius: 10px;
			padding-top: 3px;
			padding-left: 5px;
			padding-right: 3px;
			padding-bottom: 5px;

			.new-project-title {
				font-weight: bold;
			}
	
			.new-project-funds {
				bottom: 0px;
				left: auto;
				position: absolute;
			}
		}	
	}
}

.xl-space {
	margin-right: 75px;
}

.l-space {
	margin-right: 55px;
}

.s-space {
	margin-right: 20px;
}

.lightbulb {
	border-radius: 50px;
}