
<% cName = category.escape('name') %>
<h1><%= gon.categories[cName] %></h1>

<ol class="project-fields">
	<% _( category.projects().models).each(function (project) { %>
		<li><a href="/#/projects/<%= project.id %>/<%= cName %>">
		<%= project.escape('title') %>
		</a>
		</li>
	<% }) %>
</ol>