<div class="footer row">
	<div class="col-xs-3">
		<p class="footer-list-title"><strong>About us<strong></p>
		<ul class="footer-list">
			<li><a href="#">2013 highlights</a></li>
			<li><a href="#">2012 highlights</a></li>
			<li><a href="#">Who we are</a></li>
			<li><a href="#">Jobs</a></li>
			<li><a href="#">Press</a></li>
			<li><a href="#">Stats</a></li>
			<li><a href="#">Projects we love</a></li>
		</ul>
	</div>
	
	<div class="col-xs-3">
		<p class="footer-list-title"><strong>Help<strong></p>
		<ul class="footer-list">
			<li><a href="#">What is Punchstarter?</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">Punchstarter School</a></li>
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>
	</div>
	
	<div class="col-xs-3">
		<p class="footer-list-title"><strong>Discover<strong></p>
		<ul class="footer-list">
			<li><a href="#"></a></li>
		</ul>
	</div>
	
	<div class="col-xs-3">
		<p class="footer-list-title"><strong>Hello<strong></p>
		<ul class="footer-list">
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Tumblr</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Vine</a></li>
			<li><a href="#">Blog</a></li>
		</ul>
	</div>
</div>