<div class="footer row">
	<div class="col-xs-3">
		<p class="footer-list-title"><strong>About us<strong></p>
		<ul class="footer-list">
			<li><a href="/#/oops">2013 highlights</a></li>
			<li><a href="/#/oops">2012 highlights</a></li>
			<li><a href="/#/oops">Who we are</a></li>
			<li><a href="/#/oops">Jobs</a></li>
			<li><a href="/#/oops">Press</a></li>
			<li><a href="/#/oops">Stats</a></li>
			<li><a href="/#/oops">Projects we love</a></li>
		</ul>
	</div>
	
	<div class="col-xs-3">
		<p class="footer-list-title"><strong>Help<strong></p>
		<ul class="footer-list">
			<li><a href="/#/oops">What is Punchstarter?</a></li>
			<li><a href="/#/oops">FAQ</a></li>
			<li><a href="/#/oops">Support</a></li>
			<li><a href="/#/oops">Punchstarter School</a></li>
			<li><a href="/#/oops">Terms of Use</a></li>
			<li><a href="/#/oops">Privacy Policy</a></li>
		</ul>
	</div>
	
	<div class="col-xs-4">
		<p class="footer-list-title"><strong>Discover<strong></p>
		<ul class="footer-list category-double">
			<% Project::CATEGORIES.values.each do |category| %>
			<li><a href="#"><%= category %></a></li>
			<% end %>
		</ul>
	</div>
	
	<div class="col-xs-2">
		<p class="footer-list-title"><strong>Hello<strong></p>
		<ul class="footer-list">
			<li><a href="/#/oops">Twitter</a></li>
			<li><a href="https://www.facebook.com/malcolm.ahoy">Facebook</a></li>
			<li><a href="http://ahoym.tumblr.com/">Tumblr</a></li>
			<li><a href="/#/oops">Instagram</a></li>
			<li><a href="/#/oops">Vine</a></li>
			<li><a href="/#/oops">Blog</a></li>
		</ul>
	</div>
</div>